.media-card .card-body {
    width: 200px;
    height: 200px;
}

.media-card .card-body .img-thumbnail {
    max-height: calc(200px - 2.5rem);
}

.card-collapse .btn .fa-minus {
    display: none;
}
.card-collapse .btn[aria-expanded="true"] .fa-plus {
    display: none;
}
.card-collapse .btn[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.main-sidebar .brand-link {
    display: flex;
}
.main-sidebar .brand-image {
    opacity: 1 !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-wrap .logo {
    height: 80px;
}

.modal-content .rock-collapse img {
    max-height: 300px;
    max-width: 100%;
}

.rock-multiselect {
    position: relative;
}

.rock-multiselect .list-group {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 10;
}

.rock-multiselect.active .list-group {
    display: block;
}
